@import url("https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700&display=swap");
ОБНУЛЕНИЕ СТИЛЕЙ
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
font-family: "Caveat";
background-color: #E4E5E7;
width: 100%;
}
/* ----------------------------- */
.wrapper {
	width: 100%;
    overflow: hidden;
	
}
.todo {
display: flex;
flex-direction: row;
margin: 0 auto;
width: 100%;
}
.block{
	width: 50%;
}
/* -----------------------body---------------------------- */
.todo-body {
	background-color: rgba(161, 161, 247, 0.2);
	margin: 10px 0 0px 10px;
	min-width: 150px;
	min-height: 300px;
}
.todo-list {
	display: flex;
	flex-direction: column;
padding: 0 10px;
	

}
.todo-list__item {
	display: flex;
	flex-wrap: wrap;
	padding: 10px 0;
	justify-content: space-between;
	flex: 0 0 100%;

}

input{
	width: 100px;
}

.todo-list__image {

	
}
.todo-list__title {
	font-size: 28px;
	font-weight: 300;
	
}

div.todo-list__item-title {
	font-weight: 400;
	display: flex;
	border-radius: 4px;
	border: 0.5px solid black;
	white-space: nowrap; 
	width: 100px; 
	overflow: hidden;
	text-overflow: ellipsis;
	border: 0.2px solid #000000;
	display: block;
}
.todo-list__item-buttons {
	display: flex;
	column-gap: 5px;
	align-items: center;

	
}
.button-action {
	background-color: rgba(161, 161, 247, 0.2);
padding: 0;
border: none;
	cursor: pointer;
	border-radius: 4px;
	display: flex;
	
}
.button-action:hover {
transform: rotate(360deg);
transition: 0.8s ease;

}
.button-action:last-of-type:hover {
	transform:scale(1.2);
	transition: 0.8s ease;
	}

/* --------------------create---------------------------- */
.todo-create {
	min-height: 300px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	background-color: rgb(207, 207, 220);
flex: 1;
margin: 10px 10px 0px 0;
padding:0 10px;
}
.todo-line{
	user-select: none;
	background-color: rgb(161, 161, 247);
	width: 2px;
	min-height: 100%;
	cursor:col-resize;
	margin:10px 0  0 0 ;
}
.todo-create__title {

}
.todo-create__body {
}
.todo-create__form{

	
}
.todo-create__form-group {
	margin-bottom: 10px;
}
.todo-create__input {
	width: 92px;
}

.todo-create__button {
	background-color: rgb(161, 161, 247);
	border: 0.5px solid black ;
	border-radius: 5px;
	padding: 2px 10px;
	color: black;
	font-family: "Caveat"; 
	width: 100px;

}
.todo-create__button:hover {
	background-color: rgb(111, 111, 175);
	transition: 0.8s ease;
	color: #fff;
	}
.active {
}
.button-action img {
	pointer-events: none;
 }
 .none {
	display: none !important;
 }
 .done {
color: green;
 }
 .process {
color: blue;
 }
 .expectation{
	color: grey;
 }
